body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* UI Card */
.inner {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Balance Display */
.balance {
  color: green;
  font-size: 2rem;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Button Styles */
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.deposit {
  background-color: #28a745;
}

.withdraw {
  background-color:#dc3545;
}

.message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}